<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Responsive website template for developers</title>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/checkbox.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
</head>
<body>
<!-- ******HEADER****** -->
<header id="header" class="header">
    <div class="container">
        <h1 class="logo">
            <a href="/main">
                <span class="logo-icon-wrapper"><img class="logo-icon" src="/images/logo-icon.svg" alt="icon"></span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active nav-item">
                        <a href="#" data-toggle="modal" data-target="#payment">Расчетный счет</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="modal" data-target="#credit">Кредит</a>
                    </li>
                    <li class="nav-item"><a href="#features">Features</a></li>
                    <li class="nav-item"><a>
                        <form action="/logout" method="post">
                            <input type="hidden" class="form-control" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <input style="background: none;border: none" id="logoutBnt" type="submit" value="LogOut">
                        </form>
                    </a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->

<div id="hero">
    <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item item-1 active">
                <div class="item-content container">
                    <div class="item-content-inner">
                        <h2 class="heading">AppKit is the perfect front-end <br class="hidden-xs">template for app
                            developers</h2>
                        <p class="intro">It helps developers to build beautiful and user-friendly web apps quickly and
                            easily!</p>
                    </div><!--//item-content-inner-->
                </div><!--//item-content-->
            </div><!--//item-->
        </div><!--//carousel-->
    </div><!--//hero-->
</div>


<div class="container">


    <!--Расчетный счет-->

    <div class="modal fade bd-example-modal-lg" id="payment" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">


                    <div th:each="role : ${user.roles}">
                        <div th:switch="${role}">

                            <div th:case="${T(bankService.domain.Role).ADMIN}">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Имя клиента</th>
                                        <th>Валюта</th>
                                        <th>Номер</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="request : ${paymentAccounts}">
                                        <form th:action="'/paymentAccount/addRequest/' + ${request.id}" method="post">
                                            <div th:if="${request.status == 'На оформлении'}">
                                                <td th:utext="${request.user.username}"></td>
                                                <td th:utext="${request.currency}"></td>
                                                <td th:utext="${request.number}"></td>
                                                <td>
                                                    <input type="hidden" class="form-control"
                                                           th:name="${_csrf.parameterName}"
                                                           th:value="${_csrf.token}"/>
                                                    <button type="submit" class="btn btn-primary">
                                                        Подтвердить заявку
                                                    </button>
                                                    <div style="text-align: right">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Закрыть
                                                        </button>
                                                    </div>
                                                </td>
                                            </div>
                                        </form>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div th:case="${T(bankService.domain.Role).USER}">


                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#panel1">Добавить счет</a></li>
                                    <li><a data-toggle="tab" href="#panel2">Cчета</a></li>
                                </ul>


                                <div class="tab-content">


                                    <div id="panel1" class="tab-pane fade in active">
                                        <form action="/paymentAccount/sendRequest" method="post">
                                            <h3>Выберите валюту</h3>
                                            <label class="col-form-label">Currency:</label>
                                            <select class="selectpicker" name="currentCurrency">
                                                <option th:each="cur : ${T(bankService.domain.Currency).values()}"
                                                        th:value="${cur}" th:text="${cur}"></option>
                                            </select>
                                            <input type="hidden" class="form-control"
                                                   th:name="${_csrf.parameterName}"
                                                   th:value="${_csrf.token}"/>
                                            <button type="submit" class="btn btn-primary">Отправить заявку</button>
                                            <div style="text-align: right">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Закрыть
                                                </button>
                                            </div>
                                        </form>
                                    </div>


                                    <div style="min-height: 400px" id="panel2" class="tab-pane fade">
                                        <label>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Имя клиента</th>
                                                    <th>Валюта</th>
                                                    <th>Номер</th>
                                                    <th>Остаток</th>
                                                    <th>Статус</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="account : ${paymentAccounts}">
                                                    <td th:utext="${account.user.username}"></td>
                                                    <td th:utext="${account.currency}"></td>
                                                    <td th:utext="${account.number}"></td>
                                                    <td th:utext="${account.amount}"></td>
                                                    <td th:if="${account.status}=='На оформлении'">На оформлении</td>
                                                    <td th:if="${account.status}=='Активный'">Активный</td>
                                                    <td th:if="${account.status}=='Активный'">
                                                        <form th:action="'/creditCard/addAmountOnPaymentAccount/' + ${account.id}"
                                                              method="post">
                                                            <button data-toggle="modal"
                                                                    th:attr="data-target='#modal-addAmountOnAccountWithCard'+${account.id}"
                                                                    type="button" class="btn btn-success">
                                                                Пополнить баланс с карты
                                                            </button>
                                                        </form>
                                                    </td>
                                                    <td th:if="${account.status}=='Подтвердить заявку'">
                                                        <button data-toggle="modal"
                                                                th:attr="data-target='#modal-acceptRequestPaymentAccount'+${account.id}"
                                                                type="button" class="btn btn-success">
                                                            Подтвердить заявку
                                                        </button>
                                                    </td>


                                                    <!-- Модальное окно Пополнить баланс на расчетный счет -->
                                                    <div class="modal fade"
                                                         th:attr="id='modal-addAmountOnAccountWithCard'+${account.id}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="modalLabel2">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Закрыть">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:action="'/creditCard/addAmountOnPaymentAccount/'+${account.id}"
                                                                          method="post">

                                                                        <label>Сумма</label>
                                                                        <div class="form-group">
                                                                            <input type="number" class="form-control"
                                                                                   aria-label="Recipient's username"
                                                                                   aria-describedby="basic-addon2"
                                                                                   name="amount" required>
                                                                        </div>
                                                                        <label>Номер карты</label>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                   aria-label="Recipient's username"
                                                                                   aria-describedby="basic-addon2"
                                                                                   name="number" required
                                                                                   pattern="[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}">
                                                                        </div>
                                                                        <label>CVC</label>
                                                                        <div class="form-group">
                                                                            <input type="number" class="form-control"
                                                                                   aria-label="Recipient's username"
                                                                                   aria-describedby="basic-addon2"
                                                                                   name="cvc" required>
                                                                        </div>
                                                                        <input type="hidden" class="form-control"
                                                                               th:name="${_csrf.parameterName}"
                                                                               th:value="${_csrf.token}"/>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Пополнить баланс счета
                                                                        </button>
                                                                    </form>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Закрыть
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <!-- Модальное окно Подтвердить заявку на получение расчетного счета -->
                                                    <div class="modal fade"
                                                         th:attr="id='modal-acceptRequestPaymentAccount'+${account.id}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="modalLabel2">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Закрыть">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:action="'/paymentAccount/activate/'+${account.id}"
                                                                          method="post">
                                                                        <h5>Следует помнить, что расчетный счет нельзя
                                                                            считать материальным объектом – это номер,
                                                                            сумма
                                                                            цифр, учетная запись в банковских
                                                                            документах, один из основных реквизитов
                                                                            юридического лица
                                                                            или
                                                                            предпринимателя. Постоянное наличие средств
                                                                            на расчетном счете обязательным не является.

                                                                            Расчетный счет позволяет сделать адресный
                                                                            перевод его владельцу, дает возможность
                                                                            хранить
                                                                            деньги
                                                                            в банке под своим именем, проводить
                                                                            безналичные платежи, снимать наличные
                                                                            средства,
                                                                            совершать
                                                                            другие операции с деньгами на расчетном
                                                                            счете.

                                                                            Прежде чем открывать расчетный счет в банке,
                                                                            лицу, принимающему такое решение, следует
                                                                            задать
                                                                            себе несколько вопросов.</h5>
                                                                        <div>
                                                                            <label style="display: block; line-height: 40px">
                                                                                <input required type="checkbox"
                                                                                       class="option-input checkbox"/>
                                                                                <p style="padding-left: 60px;margin-bottom: 40px">
                                                                                    Я, согласен</p>
                                                                            </label>
                                                                        </div>
                                                                        <input type="hidden" class="form-control"
                                                                               th:name="${_csrf.parameterName}"
                                                                               th:value="${_csrf.token}"/>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Подтвердить заявку
                                                                        </button>
                                                                    </form>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Закрыть
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </label>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Кредит-->

    <div class="modal fade" id="credit" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">


                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#credit1">Оформить кредит</a></li>
                        <li><a data-toggle="tab" href="#credit2">Кредит(ы)</a></li>
                    </ul>


                    <div class="tab-content">
                        <div id="credit1" class="tab-pane fade in active">


                            <form action="/credit/add" method="post">
                                <label>Currency</label>
                                <div class="form-group">
                                    <select class="selectpicker" name="currentCurrency">
                                        <option th:each="cur : ${T(bankService.domain.Currency).values()}"
                                                th:value="${cur}" th:text="${cur}"></option>
                                    </select>
                                </div>
                                <label>Years</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="1"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2"
                                           name="years">
                                </div>
                                <label>Payment</label>
                                <div class="form-group">
                                    <select class="selectpicker" name="paymentAccount">
                                        <option th:each="payment : ${paymentAccounts}"
                                                th:value="${payment.id}" th:text="${payment.number}"></option>
                                    </select>
                                </div>
                                <label>Address</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Минск, Беларусь..."
                                           aria-label="Recipient's username" aria-describedby="basic-addon2"
                                           name="address">
                                </div>
                                <label>Passport</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="MP78451"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2"
                                           name="passportSeries">
                                </div>
                                <label>Goal</label>
                                <div class="form-group">
                                    <select class="selectpicker" name="creditGoal">
                                        <option value="Кредит на недвижимость">Кредит на недвижимость</option>
                                        <option value="Кредит на обучение">Кредит на обучение</option>
                                        <option value="Кредит на лечение">Кредит на лечение</option>
                                        <option value="Кредит на потребительские нужды">Кредит на потребительские нужды
                                        </option>
                                        <option value="Кредит на открытие бизнеса">Кредит на открытие бизнеса</option>
                                    </select>
                                </div>
                                <label>Wage</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="400"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2"
                                           name="wage">
                                </div>
                                <label>Course, %</label>
                                <div class="form-group">
                                    <input type="number" class="form-control" readonly
                                           aria-label="Recipient's username" aria-describedby="basic-addon2"
                                           name="course" value="12"/>
                                </div>
                                <div style="text-align: right">
                                    <input type="hidden" class="form-control"
                                           th:name="${_csrf.parameterName}"
                                           th:value="${_csrf.token}"/>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                            </form>

                        </div>
                        <div id="credit2" class="tab-pane fade">
                            <label>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Имя клиента</th>
                                        <th>Срок/год</th>
                                        <th>Валюта</th>
                                        <th>Ид кредита</th>
                                        <th>Сумма</th>
                                        <th>Процент</th>
                                        <th>Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="credit : ${credit}">
                                        <td th:utext="${credit.user.username}"></td>
                                        <td th:utext="${credit.amountYears}"></td>
                                        <td th:utext="${credit.currency}"></td>
                                        <td th:utext="${credit.id}"></td>
                                        <td th:utext="${credit.wage}"></td>
                                        <td th:utext="${credit.course}"></td>
                                        <td th:utext="${credit.status == true} ? 'Активный' : 'Погашен'"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


</body>
</html>

